@model IEnumerable<EPR_MVC.Models.MachinesViewModel>
@{
    ViewBag.Title = "Оборудования";
}

<h2>Оборудования</h2>

<div class="container" style="margin-top:2%;">
    @if (Model != null)
    {
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Partnumber</th>
                <th>Срок жизни</th>
                <th>Дата запуска</th>
                <th>Тип оборудования</th>
                <th>Статус</th>
                <th>Компания UzAuto</th>
                <th>Производитель</th>
            </tr>
            <tbody>
                @foreach (var machine in Model)
                {
                    <tr>
                        <td>@machine.Name </td>
                        <td>@machine.Description </td>
                        <td>@machine.PartNumber </td>
                        <td>@machine.Lifespan </td>
                        <td>@machine.InstalledDate </td>
                        <td>@machine.Type </td>
                        <td>@machine.IsActive </td>
                        <td>@machine.UzAutoSupplier </td>
                        <td>@machine.Manufacturer</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>