@model EPR_MVC.Models.UserViewModel
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<html>
<head>

</head>
<body class="vertical-layout vertical-menu-modern 2-columns  navbar-sticky footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- users list start -->
                <section class="users-list-wrapper">
                    <div class="users-list-filter px-1">
                        <form>
                            <div class="row border rounded py-2 mb-2">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <label for="users-list-verified">Verified</label>
                                    <fieldset class="form-group">
                                        <select class="form-control" id="users-list-verified">
                                            <option value="">Any</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <label for="users-list-role">Role</label>
                                    <fieldset class="form-group">
                                        <select class="form-control" id="users-list-role">
                                            <option value="">Any</option>
                                            <option value="User">User</option>
                                            <option value="Staff">Staff</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <label for="users-list-status">Status</label>
                                    <fieldset class="form-group">
                                        <select class="form-control" id="users-list-status">
                                            <option value="">Any</option>
                                            <option value="Active">Active</option>
                                            <option value="Close">Close</option>
                                            <option value="Banned">Banned</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                                    <button type="reset" class="btn btn-primary btn-block glow users-list-clear mb-0">Clear</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="users-list-table">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <!-- datatable start -->
                                    <div class="table-responsive">
                                        <table id="users-list-datatable" class="table">
                                            <thead>
                                                <tr>
                                                    <th>korxona</th>
                                                    <th>username</th>
                                                    <th>kalit so'zi</th>
                                                    <th>FISH</th>
                                                    <th>status</th>
                                                    <th>roli</th>
                                                    <th>bo'linmasi</th>
                                                    <th>lavozimi</th>
                                                    <th>telefon</th>
                                                    <th>edit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var user in Model.userList)
                                                {
                                                <tr>
                                                    <td>@user.UZAUTOSUPPLIER.Name</td>
                                                    <td>@user.Username </td>
                                                    <td>@user.Password </td>
                                                    <td>@user.Name </td>
                                                    @if (user.Status == true)
                                                    {
                                                        <td class="badge badge-light-success">Faoliyatda</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="badge badge-light-danger">Ishlamayabdi</td>
                                                    }
                                                    <td></td>
                                                    <td>@user.Department </td>
                                                    <td>@user.JobTitle </td>
                                                    <td>@user.Telephone</td>
                                                    <td><a href="/UserAE"><i class="bx bx-edit-alt"></i></a></td>
                                                </tr>
                                                }
                                                @*<tr>
                                                    <td>UzAutoAustem</td>
                                                    <td>dean3004</td>
                                                    <td>Dean Stanley</td>
                                                    <td>sdad2we2132sdas23123123s</td>
                                                    <td>Operator</td>
                                                    <td><span class="badge badge-light-success">Active</span></td>
                                                    <td>Maintenance</td>
                                                    <td>Injener</td>
                                                    <td>+998911600794</td>
                                                    <td><a href="../../../html/ltr/vertical-menu-template/page-users-edit.html"><i class="bx bx-edit-alt"></i></a></td>
                                                </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- datatable ends -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- users list ends -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
    <script>
        $(document).ready(function () {

            $("#addRow").click(function () {
                window.location.href = "/Admin/RegisterAUser";
            })
        })
    </script>
</body>
</html>

